<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>
<body>
      <div th:fragment="footer">

<footer class="page-footer text-center font-small mt-4 wow fadeIn ">
			<div class="mt-5" style="font-size: 15px;">
				<a href="https://www.facebook.com/mdbootstrap" target="_blank">
					<i class="fab fa-facebook-f mr-3 "
					style="color: #1877f2; font-size: 25px;"></i>
				</a> <a href="https://twitter.com/MDBootstrap" target="_blank"> <i
					class="fab fa-twitter mr-3"
					style="color: #1da1f2; font-size: 25px;"></i>
				</a> <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4"
					target="_blank"> <i class="fab fa-youtube mr-3"
					style="color: #ff0000; font-size: 25px;"></i>
				</a> <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4"
					target="_blank"> <i class="fa fa-instagram mr-3"
					style="color: #c32aa3; font-size: 25px;"></i>
				</a> <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4"
					target="_blank"> <i class="fa fa-yahoo mr-3"
					style="color: #c32aa3; font-size: 25px;"></i>
				</a> <a href="https://plus.google.com/u/0/b/107863090883699620484"
					target="_blank"> <i class="fab fa-google-plus-g mr-3"
					style="color: #4285f4; font-size: 25px;"></i>
				</a> <a href="https://dribbble.com/mdbootstrap" target="_blank"> <i
					class="fab fa-dribbble mr-3"
					style="color: #ea4c89; font-size: 25px;"></i>
				</a> <a href="https://pinterest.com/mdbootstrap" target="_blank"> <i
					class="fab fa-pinterest mr-3"
					style="color: #bd081c; font-size: 25px;"></i>
				</a> <a href="https://github.com/mdbootstrap/bootstrap-material-design"
					target="_blank"> <i class="fab fa-github mr-3"
					style="color: black; font-size: 25px;"></i>
				</a> <a href="http://codepen.io/mdbootstrap/" target="_blank"> <i
					class="fab fa-codepen mr-3" style="color: green; font-size: 25px;"></i>
				</a>
			</div>

			<div class="footer-copyright py-3">
				© 2022 Copyright: <a href="https://www.thegioididong.com"
					target="_blank"> TheGioiDiDong.com </a>
			</div>

		</footer></div>
</body>
</html>