<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <script src="https://kit.fontawesome.com/54f0cb7e4a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <title>Thế giới di động</title>
  <img src="../accounts/images/chay33.png">
  <header class="tk">  
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Quản lý tài khoản
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Đăng kí </a>
      <a class="dropdown-item" href="#">Đăng nhập</a>
      <a class="dropdown-item" href="#">quên mật khẩu</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
  </header>
  <nav>
    <div class="container">
      <ul>
        <li><a href="" style="color: black;font-size: 20px;font-variant-ligatures:discretionary-ligatures ;">ĐIỆN MÁY XANH</a></li>
        <li ><a href="#"> ĐÀ NẴNG <i class="fa fa-sort-down"></i></a> </li>

        <li><input type="text" placeholder="Bạn tìm gì..."><i class="fa fa-search"></i></li>
        <li><a href=""></a><button><i class="fa fa-cart-plus"></i>giỏ hàng</button></li>
        <li><a href="">lịch sữ đơn hàng</a></li>
        <li><a href=""><span class="btn-content"><span class="btn-top"></span></span>Mua thẻ nạp ngay</a></li>
        <li> <a href="">24H Công nghệ</a></li>
        <li><a href="">Hỏi đáp</a></li>
        <li><a href="">Game app</a></li>
      </ul>
    </div>
  </nav>
  <section class="menu-bar">
    <div class="container">
      <div class="menu-bar-content">
        <ul>
          <li><a href=""><i class="fa fa-phone-square"></i>Điện Thoại</a></li>
          <li><a href=""><i class="fa fa-laptop"></i>lapTop</a></li>
          <li><a href=""> <i class="fa fa-table" aria-hidden="true"></i>Table</a></li>
          <li><a href=""><i class="fa fa-headphones" aria-hidden="true"></i>Phụ kiện <i style="margin-left: 4px ;"
                class="fa fa-sort-down"></i></a>
            <div class="submenu">
              <ul>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
              </ul>
            </div>



          </li>
          <li><a href=""><i class="fa fa-clock-o" aria-hidden="true"></i>Đồng Hồ</a></li>
          <li><a href=""><i class="fa fa-address-card" aria-hidden="true"></i>table</a></li>
          <li><a href=""><i class="fa fa-phone-square" aria-hidden="true"></i>Điên thoại <i
                class="fa fa-sort-down"></i></a>


            <div class="submenu">
              <ul>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
                <li><a href="">Phụ kiện a</a></li>
              </ul>
            </div>
          </li>
          <li><a href="">Máy cũ giá rẻ</a></li>
          <li><a href="">Sim, thẻ cào</a></li>
          <li><a href="">Trả góp điện nước</a></li>
        </ul>
      </div>
    </div>
  </section>
 
<article>
<div class="row">

</div>

</article>

<hr>
<hr>

  <footer class="page-footer text-center font-small mt-4 wow fadeIn ">
    <div class="mt-5" style="font-size: 15px;">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank" >
        <i class="fab fa-facebook-f mr-3 " style="color: #1877f2; font-size: 25px;"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3" style="color: #1da1f2;font-size: 25px;"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube mr-3" style="color: #ff0000;font-size: 25px;"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fa fa-instagram mr-3" style="color: #c32aa3;font-size: 25px;"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fa fa-yahoo mr-3" style="color: #c32aa3;font-size: 25px;"></i>
      </a>
  

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-google-plus-g mr-3" style="color: #4285f4;font-size: 25px;"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fab fa-dribbble mr-3" style="color:  #ea4c89;font-size: 25px;"></i>
      </a>

      <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fab fa-pinterest mr-3" style="color: #bd081c;font-size: 25px;"></i>
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fab fa-github mr-3" style="color: black;font-size: 25px;"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fab fa-codepen mr-3" style="color: green;font-size: 25px;"></i>
      </a>
    </div>
    
    <div class="footer-copyright py-3">
      © 2022 Copyright:
      <a href="https://www.thegioididong.com" target="_blank"> TheGioiDiDong.com </a>
    </div>
    
  </footer>
 
  <script src="script.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>